#grass {
  background-image: url(grass.png);
}
#snake canvas {
	border: 5px outset black;
}

.d-pad {
  position: relative;
  width: 250px;
  height: 250px;
  right: 200px;
  top:   50px;
  margin-right: 10px;
}


#buttonUp, #buttonDown {
	width: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#buttonUp {
  top: 0;
}

#buttonDown {
  bottom: 0;
}

#buttonLeft, #buttonRight {
	width: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#buttonLeft {
  left: 0;
}

#buttonRight {
  right: 0;
}

.gamezone {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}

.empty {

}


