.keyboard {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 5px 0;
        background: rgba(0,65,120,0.7);
        box-shadow: 0 0 50px rgba(0,0,0,0.5);
        user-select: none;
        transition: bottom 0.4s;
        text-align: center;
        z-index: 10000;
    }
    .keyboard-hidden {
        bottom: -100%;
    }
    #hide-keyboard-button {
        height: 45px;
        width:6%;
        max-width: 90px;
        border-radius: 4px;
        border: none;
        background: rgba(100,100,100,0.5);
        color: #ffffff;
        outline: none;
        cursor: pointer;
        left: 90%;
        position: fixed;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        z-index: 10000;
    }
    .keyboard-key {
        height: 45px;
        width: 6%;
        max-width: 90px;
        margin: 3px;
        border-radius: 4px;
        border: none;
        background: rgba(255,255,255,0.2);
        color: #ffffff;
        font-size: 1.05rem;
        outline: none;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        padding: 0px;
        tap-highlight-color: transpaent;
        position: relative;
    }
    .keyboard-key:active {
        background: rgba(255,255,255,0.12);
    }
    .keyboard-key-large {
        width: 12%;
    }
    .keyboard-key-very-large {
        width: 36%;
        max-width: 500px;
    }
    textarea {
        cursor: text;
        resize: none;
    }
    .keyboard-key-caps-disabled::after {
        position: absolute;
        width: 5px;
        height: 5px;
        right: 5px;
        top: 7px;
        content: '';
        border: 1px solid rgb(0,65,80);
        background-color: rgb(0,65,80);
        border-radius: 50%;
    }
    .keyboard-key-caps-enabled::after {
        position: absolute;
        width: 5px;
        height: 5px;
        right: 5px;
        top: 7px;
        content: '';
        border: 1px solid #00ff00;
        background-color: #00ff00;
        border-radius: 50%;
    }